@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --nethos_blue: #009fe3;
  --nethos_lite_blue: #f7fbfe;
  --nethos_white: #ffffff;
  --nethos_grey: #b1b1b3;
  --nethos_green: #98be13;
}


.slider-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 500px; */
  height: auto;
  overflow: hidden;
}

.slider-pictures {
  display: flex;
  justify-content: space-between;
  /* column-gap: 100px; */
  /* width: 400px;
  height: 200px; */
  left: 0px;
}

.dot-container {
  width: 500px;
  height: 20px;
  margin: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

.slider-main .dot-container div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

button.slider-button {
    background-color: var(--nethos_grey);
    cursor: pointer;
    color: var(--nethos_white);
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: table-cell;
    vertical-align: middle;
  }

.dot-bolded {
  background-color: var(--nethos_blue);
}

.dot-slim {
  background-color: var(--nethos_grey);
}
